pkgbase = ditana-config-xfce
	pkgdesc = Ditana XFCE config
	pkgver = 2.091
	pkgrel = 1
	url = https://github.com/acrion/ditana-config-xfce
	install = ditana-config-xfce.install
	arch = any
	license = AGPL-3.0-or-later
	makedepends = rsync
	depends = coreutils
	depends = exo
	depends = garcon
	depends = thunar
	depends = thunar-volman
	depends = tumbler
	depends = xfce4-appfinder
	depends = xfce4-panel
	depends = xfce4-power-manager
	depends = xfce4-session
	depends = xfce4-settings
	depends = xfconf
	depends = xfdesktop
	depends = xfwm4
	depends = xfwm4-themes
	depends = xdg-terminal-exec-git
	depends = xdg-user-dirs
	depends = xdg-utils
	depends = xfce4-screenshooter
	depends = xfce4-screensaver
	depends = xfce4-notifyd
	depends = lightdm
	depends = xclip
	depends = xorg-xev
	depends = xorg-xkill
	depends = xorg-xrandr
	depends = lxsession
	depends = lightdm-settings
	depends = xorg-xhost
	depends = mugshot
	depends = gnome-keyring
	depends = noto-fonts
	depends = noto-fonts-cjk
	depends = noto-fonts-extra
	depends = noto-fonts-emoji
	depends = seahorse
	depends = libgepub
	depends = libopenraw
	depends = libgsf
	depends = xdg-desktop-portal-gtk
	depends = dracula-gtk-theme
	depends = kora-yellow-icon-theme
	depends = ttf-jetbrains-mono-nerd
	depends = xfce-display-config-observer
	depends = gnome-system-monitor
	depends = ditana-print-system-load
	depends = xmlstarlet
	depends = bc
	depends = zenity
	depends = catfish
	depends = gvfs
	depends = thunar-archive-plugin
	depends = thunar-media-tags-plugin
	depends = xfce4-docklike-plugin
	depends = xfce4-genmon-plugin
	depends = xfce4-notes-plugin
	depends = xfce4-weather-plugin
	depends = xfce4-whiskermenu-plugin
	depends = xfce4-xkb-plugin
	depends = xfce4-pulseaudio-plugin
	depends = pavucontrol
	depends = blueman
	depends = network-manager-applet
	depends = ditana-config-kitty
	depends = ristretto
	depends = vlc
	depends = xreader
	depends = arch-audit-gtk
	depends = librewolf
	depends = speech-dispatcher
	depends = mesa-utils
	depends = libva-utils
	depends = intel-gpu-tools
	depends = gnome-disk-utility
	depends = system-config-printer
	depends = engrampa
	depends = onboard
	depends = kalu
	depends = gpick
	depends = pciutils
	optdepends = xfce-wallpaper-overlay: used to overlay the desktop background with a Ditana cheat sheet
	optdepends = chromium: alternative web browser that was previously the default
	source = file:///media/stefan/data/Documents/git/my-projects/acrion/ditana/packages/002-ditana-config-xfce/folders.tar.gz
	sha256sums = SKIP

pkgname = ditana-config-xfce
